* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

/* global rules */

.number-group input[type='number']::placeholder , input[type='text']::placeholder {
    text-align: center;
}


/* global rules */